<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="f1" method="post">
    <table border="1">
      {% csrf_token %}
      {{ form1.as_table }}

   </table>
    <input type="submit" value="submit">
{% if messages %}
    <ul class="messages">

        {% for message in messages %}
        <li {% if message.tags %} class ="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</form>

<table border="1">
    <tr>
        <th>Destination Category</th>
    </tr>
    {% for destcat in destination_cat %}
     <tr>

        <td>{{ destcat.Destination_cat }}</td>
         <td>
             <a href="{% url 'updateDestination_cat' destcat.id %}">edit</a>
             <a href="{% url 'delDestination_cat' destcat.id %}">delete</a>
         </td>

    </tr>
    {% endfor %}
</table>

</body>
</html>
